# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm / IntelliJ project files
.idea/


# VS Code settings
.vscode/

# Log files
*.log

# Environments
.env
.venv
env/
venv/
